@import "vars.scss";
.logo-text{
	font-size:32px;
	margin: 0;
	height: 60px;
	line-height: 60px;
}
.top-title{
	height: 60px;
	line-height: 60px;
	margin:0;
	text-align:right;
	font-size: 24px;
}
.el-menu-item, .el-submenu__title,.el-submenu .el-menu-item{
	height:32px !important;
	line-height:32px !important;
}
.breadcrumb-container{
	margin-bottom:1em;
}
.container .main .content-container .breadcrumb-container .title{
	width:auto;
}
@media (max-width: $mobile-max){
	html,body,.login-container{
		width:100%!important;
	}
	.login-container{
		box-sizing: border-box;
	}
	.el-dialog{
		width: 100%!important;
	}
}
.custome-captcha{
	.el-input-group__prepend{
		padding: 0;
		img{
			display: block;
			height: 34px;
		}
	}
}
.el-table__fixed-right{
	overflow-y: hidden;
}

.w70p{
	width: 70%!important; 
}
.w80p{
	width: 70%!important; 
}
.el-input,.el-select,.el-cascader{
	width:100% !important;
}

table{
	.goodsGroupTableInputArea{
		.cell{
			padding-left: .5em;
			padding-right: 0;
		}
		input[type="text"]{
			width: 40px;
			padding-left:3px;
		}
	}
	.warning-row .goodsGroupTableInputArea input[type="text"]{
		border: 1px solid #ff4949;
		outline: none;
	}
	td{
		padding-top:1px!important;
		padding-bottom:1px!important;
	}
}

.goodsGroupTable{
	position: relative;
	.goodsGroupAddGoodBtn,.goodsGroupAddBtn{
		position: absolute;
		right: 2em;
		top: .5em;
		z-index: 1;
	}
	@media (max-width: $mobile-max){
		text-align: right;
		.goodsGroupAddGoodBtn,.goodsGroupAddBtn{
			position: static;
		}
	}
}

.register-card{
	width: 1000px;
	margin: 2em auto;
}

.el-pagination{
	margin-top: 1em;
}

.restyle-table{
	.el-table__body-wrapper{
		padding-bottom: 40px;
	}
	.el-table__footer-wrapper{
		position: absolute;
		bottom: 18px;
	}
}